{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
{{ block.super }}
{% endblock css %}
<head>
    <title>
        {% block title %}
        {{ block.super }}
             - About Me - Projects
        {% endblock %}
    </title>
</head>

{% block content %}
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}" />

        <dl class="divc">Computer Apps
            <dt><h4>&nbsp;&nbsp;&nbsp;&nbsp;<a id='hp1' team='Ignacio_Rodriguez Rafael_Cordano' href="http://github.com/rafaelcor/compress">Compress - Sugar - has a release but actually is unmaintained</a></h4></dt>
            <dt><h4>&nbsp;&nbsp;&nbsp;&nbsp;<a id='hp2' team='Ezequiel_Pereira Rafael_Cordano' href="http://github.com/rafaelcor/thegame">The_Game - OpenGL, SDL in C++ - under development</a></h4></dt>
            <dt><h4>&nbsp;&nbsp;&nbsp;&nbsp;<a id='hp3' team='Ezequiel_Pereira Rafael_Cordano' href="http://github.com/rafaelcor/compose">Compose - Python and gtk - unmaintained</a></h4></dt>
            <dt><h4>&nbsp;&nbsp;&nbsp;&nbsp;<a id='hp4' team='Ezequiel_Pereira Rafael_Cordano' href="http://github.com/rafaelcor/sweet_os">Sweet OS - is under development</a></h4></dt>
        </dl>
        <dl class="divc">Mobile Apps
            <dt><h4>&nbsp;&nbsp;&nbsp;&nbsp;Notes:&nbsp;<a id='mba1' team='Rafael_Cordano' href="http://github.com/rafaelcor/notes_firefoxos">Git</a>&nbsp;, <a href="https://marketplace.firefox.com/app/notes-2/">Market Place</a></h4></dt>
        </dl>
{% endblock content %}

{% block js %}
{{ block.super }}
<script src="{% static 'about_me/js/about_projs.js' %}" type='text/javascript'></script>
{% endblock js %}
