{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
{{ block.super }}
{% endblock css %}
<head>
    <title>
        {% block title %}
        {{ block.super }}
             - Contact
        {% endblock %}
    </title>
</head>

{% block content %}
        <link rel="stylesheet" type="text/css" href="{% static 'contact/css/style.css' %}" />
        <div class="divc">
            <h4>
				E-mail : <a href="mailto:rafael.cordano@gmail.com">rafael.cordano@gmail.com</a>
			</h4>

			<h4>
				Facebook: <a href="https://www.facebook.com/rafaelcorda">rafael.cordano</a>
			</h4>
            <h4>
                StackOverFlow: <a href="http://stackoverflow.com/users/2387896/user2387896">Rafael Cordano</a>
            </h4>
            <br>
            <div class="send_email">
                <label>Your name: </label>
                <input id="name_in"></input>

                <br><br>

                <label>Your e-mail: </label>
                <input id="email_in"></input>

                <br><br>

                <label>Your subject: </label>
                <input id="sub_in"></input>

                <br><br>

                <label>Message: </label>
                <textarea id="message"></textarea>

                <br><br>

                <button id="submit">Send</button>
        </div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script src="{% static 'contact/js/contact.js' %}" type='text/javascript'></script>
{% endblock js %}
