{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
{{ block.super }}
{% endblock css %}


{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'entries/css/style.css' %}" />
	<head>
	</head>
	<body>
        <button type="button" id="add_hours">Add hours</button>
		<table border="2" class="table">
			<tr>
				<td>Project</td>
				<td>Issue</td>
				<td>Hours</td>
				<td>Comment</td>
				<td>Activity</td>
				<td>x</td>
			</tr>
            <div class="divtab">
                <div class="divdivtab">
                </div>
            </div>
		</table>
        <button type="button" id="send_pm">Send to PM</button>
	</body>
{% endblock content %}
